
 
body {
  background: #111827;
  color: #fff;
  
}
 .table{
    width: 1000px;
    margin: 0 auto;
 }
 .grid-ibx {
    margin: 50px;
  }
  
  .grid-ibx__row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .grid-ibx__item {
    float: left;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 200px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .grid-ibx--cols-2 .grid-ibx__item {
    width: 44%;
  }
  
  .grid-ibx__item-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .grid-ibx__title,
  .grid-ibx__desc {
    margin: 0;
  }
  
  .grid-ibx--hover-shadow .grid-ibx__item {
    transition: box-shadow 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .grid-ibx--hover-shadow .grid-ibx__item:hover {
    box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  .grid-ibx--hover-shadowscale .grid-ibx__item {
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), background 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .grid-ibx--hover-shadowscale .grid-ibx__item:hover {
    transform: scale3d(1.06, 1.06, 1);
    z-index: 1;
    border-width: 1px !important;
    background: #fff;
    box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
  }
  
 